# 資料庫設定
DATABASE_URL=postgresql://mydb_pqma_user:DxZoxXCVZ9Fc48Aq3sv2d1VvmXpHSzFf@dpg-d2v45615pdvs73b1htq0-a/mydb_pqma
# JWT 設定
JWT_SECRET=123456789
# 環境設定
NODE_ENV=production

# 伺服器設定
PORT=3000

# 檔案上傳設定
UPLOAD_PATH=./uploads
MAX_FILE_SIZE=10485760
